
    <%- include('partials/header') %>
    <main>
        <h1><%= title %></h1>
        <h1>Category: <%= category.name %></h1>
    <hr>

    <h1>Service Projects in this Category:</h1>
    <p><a href="/edit-category/<%= category.cart_id %>">Edit category</a></p>
    <% if (projects.length === 0) { %>
        <p>No projects are currently assigned to this category.</p>
    <% } else { %>
        <ul>
            <% projects.forEach(project => { %>
                <li>
                    <a href="/project/<%= project.project_id %>">
                        <%= project.title %>
                    </a> 
                    — Scheduled: <%= new Date(project.date).toLocaleDateString() %>
                </li>
            <% }); %>
        </ul>
    <% } %>

    <p><a href="/categories">Categories home</a></p>

    </main>
<%- include('partials/footer') %>

