<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>

    <form action="/edit-category/<%= category.name %>" method="POST">
        <div class="form-group">
            <label for="name">Category Name</label>
            <input 
                type="text" 
                id="name" 
                name="name" 
                value="<%= category.name %>" 
                required 
                maxlength="100" 
            />
        </div>
        
        <button type="submit">Update Category</button>
    </form>
    
    <p><a href="/categories">Categories home</a></p>
</main>
<%- include('partials/footer') %>