
    <%- include('partials/header') %>
    <main>
        <h1><%= title %></h1>
        

    <% projects.forEach(project => { %>
        <div>
        <h2>
            <a href="/project/<%= project.project_id %>"><%= project.title %></a>
        </h2>
        
        <p>BY:
            <a href="/organization/<%= project.org_id %>"><%= project.organization_name %></a>
        </p>
        <p><strong>Date:</strong> <%= new Date(project.date).toLocaleDateString() %></p>
        </div>
    <%})%>
    
<p><a href="/new-project">Add New Service Project</a></p>
    </main>
<%- include('partials/footer') %>

