<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>
    
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email (Username)</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            <% if (users && users.length > 0) { %>
            <% users.forEach(user => { %>
                <tr>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td><%= user.user_role %></td>
                </tr>
            <% }) %>
            <% } %>

        </tbody>
    </table>
    
    <p><a href="/dashboard">Back to Dashboard</a></p>
</main>
<%- include('partials/footer') %>